.customfont {
    font-family: "Permanent Marker";
    color: forestgreen;
    text-decoration: none;

}
.navHeight {
    /*height: 24px;*/
}
.fontSize22 {
    font-size: 22px;
}
.fontSize16 {
    font-size: 16px;
}
.imgSize {
    height: 5em;
    width: 4em;
    /*position: absolute;*/
    /*bottom: 4px;*/
}
.topMargin {
    margin-top: 0em;
}
.dropdown-menu>a {
    padding:5px 40px;
}